version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
      timezone: "Asia/Tokyo"
    target-branch: "main"

    commit-message:
      prefix: "deps"

    labels:
      - "dependencies"

    groups:
      npm-dependencies:
        patterns:
          - "*"
